.square {
  background: white;
  border: 1px solid #ddd;
  height: 100px;
  float: left;
  display: block;
  font-size: 20px;
  width: 100px;
  font-weight: bold;
}

.status {
  font-weight: bold;
  text-align: center;
}
