.header {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
  font-size: 12px;
  margin-top: 5vh;
  /* border: 1px solid black; */
}

.headerMenu a {
  display: inline-block;
  margin: 10px 10px;
  text-decoration: none !important;
  color: brown;
  font-size: 14px;
  letter-spacing: 1.2px;
}

.headerMenu a:hover {
  background-color: cornsilk;
}

.search form {
  display: flex;
  margin: 0 10px;
}

.searchInput {
  border: 0;
  width: 0;
  transition: width 0.1s ease-in;
}

.searchInput.active {
  width: 150px;
}

.searchInput:focus {
  outline: none;
}

.searchIcon {
  cursor: pointer;
}
