body {
  /* background: radial-gradient(circle, rgb(78, 70, 70), white); */
  background-color: rgb(216, 214, 214) !important;
  font-family: "Roboto Mono", monospace;
  background-size: cover;
  height: 100vh;
  width: 100%;
}

.App {
  width: 90%;
  margin: 0 auto;
  /* border: 1px solid black; */
}
